
$link: tomato;

@import '~bulma/bulma';


body {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Barlow', sans-serif;
  // font-family: 'Gudea', sans-serif;
  // font-family: 'K2D', sans-serif;
  // font-family: 'Noto Serif JP', sans-serif;
  font-size: 18px;
  padding: 5vh 0;
}

a {
  // color: tomato;
  &:hover {
    // color: orange;
    text-decoration: underline;
  }
}

.project-enter-active, .home-enter-active {
  transition: all 2000ms cubic-bezier(.19,1,.22,1) 240ms;
  backface-visibility: hidden;
}
.project-enter, .project-leave-active {
  opacity: 0;
  transform: translateY(-30px)
}
.home-enter, .home-leave-active {
  opacity: 0;
  transform: translateY(30px)
}